/* 
    Created on : 24/10/2020
    Author     : juliobillschvenger
*/

html {
    font-family: Lucida Console;
}

.button-rodape {
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.btn-width-heigt {
    width: 50px;
    height: 50px;
}

.media-body-cursor{
    cursor: pointer;
}

.tela-inc-edit {
    height: 30em;
    position: relative;
}

#btn-inc-pessoa{
    background-color: #f2f2f2; 
    color: black;
    font-size: xx-large;
    border-radius: initial;
    position: absolute;
    top: 80%;
    left: 50%;
    border-radius: 50px;
}

.tela-inc-edit-child {
    margin: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#index-list-pessoas {
    position: relative;
    border: none;
    left: 2%;
    right: 2%;
    height: 420PX;
    width: 96%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#index-list-pessoas::-webkit-scrollbar { width:7px; background:#e3e0d6; }
#index-list-pessoas::-webkit-scrollbar-track { background: rgba(0,0,0,0); }
#index-list-pessoas::-webkit-scrollbar-thumb { border-radius:10px; background:#8b8778;  }

#td-id-nome {padding: 30px;}
#td-id-idade {padding: 30px;}

.style-button-edit {
    background-color: white; 
    color: black; 
    padding: 2px 2px;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
}

.style-button-edit:hover {
    background-color: #f2f2f2;
    color: white;
}

.style-button-excluir {
    background-color: white;
    color: black;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.style-button-excluir:hover {background-color: #e7e7e7;}

a:link 
{ 
    text-decoration:none;
    color: black; 
} 

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}